.DigitDisplay {
  width: 12px;
  height: 23px;
  background: url("../../assets/minesweeper-sprites.png");
  background-position: -126px 0px;

  &.value-1 {
    background-position: 0px 0px;
  }
  &.value-2 {
    background-position: -14px 0px;
  }
  &.value-3 {
    background-position: -28px 0px;
  }
  &.value-4 {
    background-position: -42px 0px;
  }
  &.value-5 {
    background-position: -56px 0px;
  }
  &.value-6 {
    background-position: -70px 0px;
  }
  &.value-7 {
    background-position: -84px 0px;
  }
  &.value-8 {
    background-position: -98px 0px;
  }
  &.value-9 {
    background-position: -112px 0px;
  }
}
